<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ satData.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>Satellite ID:</b> {{ satData.satelliteId }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-center">
        <p><b>Two Line Data</b></p>
      </ion-text>
      <ion-text>
        <p><b>Line 1</b></p>
        <p>{{ satData.line1 }}</p>
      </ion-text>
      <ion-text>
        <p><b>Line 2</b></p>
        <p>{{ satData.line2 }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
