<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><b>NEO - Near Earth Object</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let o of neo">
    <ion-card (click)="openNEO(o.id)">
      <ion-card-header>
        <ion-card-title><b>{{ o.name_limited }}</b></ion-card-title>
        <ion-card-subtitle>{{ o.name }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          <p>ID: {{ o.id }}</p>
          <p>Absolute Magnitude: {{ o.absolute_magnitude_h }}</p>
          <p>
            Harazdous: {{ o.is_potentially_hazardous_asteroid ? "YES" : "NO" }}
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
