<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TLE - Two Line Element</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let s of satellites">
    <ion-card (click)="showData(s.id)">
      <ion-card-header>
        <ion-card-title><b>{{ s.name | uppercase }}</b></ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ s.desc }} </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
