<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tech Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let t of topics">
    <ion-card (click)="gotoTopic(t.url)">
      <ion-card-header>
        <ion-card-title>{{ t.title }}</ion-card-title>
        <ion-card-subtitle>{{ t.subtitle }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{ t.desc }}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
